@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inknut antiqua;
}
body{
    background-image: url(newbg.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
@media (max-width: 450px) {
    body{
      background-image: url(newrepobg.jpg);
      /* background-size: 100vw; */
      /* background-size: cover; */
      /* border: 2px solid white; */

    }
  }

  :root {
    --primary-color: #FBC02D;
  }